<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>HWCalc</display-name>
    <servlet-name>HWCalc</servlet-name>
    <servlet-class>hwcal.HWCalc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HWCalc</servlet-name>
    <url-pattern>/HWCalc</url-pattern>
  </servlet-mapping>
  <display-name>HWCal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HWCalculation</display-name>
    <servlet-name>HWCalculation</servlet-name>
    <servlet-class>hwcal.HWCalculation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HWCalculation</servlet-name>
    <url-pattern>/HWCalculation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterEP</display-name>
    <servlet-name>RegisterEP</servlet-name>
    <servlet-class>hwcal.RegisterEP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterEP</servlet-name>
    <url-pattern>/RegisterEP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>hwcal.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnServlet</display-name>
    <servlet-name>ReturnServlet</servlet-name>
    <servlet-class>hwcal.ReturnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnServlet</servlet-name>
    <url-pattern>/ReturnServlet</url-pattern>
  </servlet-mapping>
</web-app>